// :root {
//   font-size: calc(10px + 1vw);
// }
// moved to typopgraphy.scss
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  background: $grey-light;
}

// FLEXBOX - GRID
.flex-grid {
  display: flex;
  .col {
    flex: 1;
  }
}
.flex-grid-halves {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  .col {
    width: 50%;
  }
}
.flex-grid-thirds {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  .col {
    width: 33%;
  }
}
.flex-grid-quarters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .col {
    width: 25%;
  }
}
@media (max-width: 400px) {
  .flex-grid,
  .flex-grid-thirds {
    display: block;
    .col {
      width: 100%;
      margin: 0 0 10px 0;
    }
  }
}
// END ~ FLEXBOX GRID

iframe {
  border: 0;
  padding: 2em .5em .5em;
  width: 100%;
  height: 500px;
  background-color: $grey-light;
  border-radius: .5em;
  box-shadow: 0.5em 1.5em 0.3em -1em rgba(0, 0, 0, 0.1);
  // border: 0.1em #ccc solid;
  overflow: hidden;
}

.container {
  margin: 2em auto;
  max-width: 1200px;
}

.wrapper {
  background: #fff;
  padding: 1em;
  border-radius: $border-radius;
}
