// :root {
//   font-size: calc(10px + 1vw);
// }
// moved to typopgraphy.scss
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background: #f4f4f4;
}

.content-wrap {
  margin: 1em auto;
  max-width: 900px;
  background: #fff;
  padding: .5em;
}

.flex-grid {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  &__item {
    flex-grow: 0;
    flex-shrink: 1;
    &--100 { width: 100%; }
    &--90 { width: 90%; }
    &--80 { width: 80%; }
    &--70 { width: 70%; }
    &--60 { width: 60%; }
    &--50 { width: 50%; }
    &--40 { width: 40%; }
    &--30 { width: 30%; }
    &--20 { width: 20%; }
    &--10 { width: 10%; }
  }
}
