%section
  .posts.container.flex-grid-quarters
    - @post.each do |post|
      .col
        .post-panel
          = link_to post do
            .post-image
            %h2.post-title= post.title
          .post-data
            %span= post.user.name
