%section
  .posts.container.flex-grid
    - @post.each do |post|
      .col-1-4
        .post-panel
          = link_to post do
            .post-image
            %h2.post-title= post.title
          .post-data
            %span= post.user.name
