.btn {
  display: inline-block;
  padding: .25em .5em;
  color: $grey-dark;
  background: $grey-light;
  border: .1em solid transparent;
  border-radius: .2em;
  text-decoration: none;
  text-transform: lowercase;
  cursor: pointer;
  transition: all 230ms ease;
  &:hover, &:focus, {
    background: #ddd;
  }

  &.info {
    &:hover, &:focus {
      color: #fff;
      background: $info;
      border-color: darken($info, 5%);
    }
    &:active {
      background: darken($info, 10%);
    }
  }
  &.success{
    &:hover, &:focus {
      color: #fff;
      background: $success;
      border-color: darken($success, 5%);
    }
    &:active {
      background: darken($success, 10%);
    }
  }
  &.warning {
    &:hover, &:focus {
      color: #fff;
      background: $warning;
      border-color: darken($warning, 5%);
    }
    &:active {
      background: darken($warning, 5%);
    }
  }
  &.danger {
    &:hover, &:focus {
      color: #fff;
      background: $danger;
      border-color: darken($danger, 5%);
    }
    &:active {
      background: darken($danger, 10%);
    }
  }
}

.action-block {
  padding:1em 0;
  .right {
    float: right;
  }
}

.simple_form {
  // max-width: 50%;
  margin: 0 auto;
  background: #fff;
  .input {
    padding: .5em 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  input[type=text],
  input[type=password],
  input[type=email],
  input[type=text],
  textarea {
    width: 100%;
    border: none;
    padding: .5em 1em;
    border-radius: 3px;
    background: $grey-light;
  }
  label {
    margin-right: 1em;
    flex-shrink: 0;
    text-align: left;
  }
  textarea {
    margin-top: .5em;
    display: block;
  }
}
